/*RESET*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "GreatVibes-Regular";
  font-display: swap;
  src: url("../fonts/GreatVibes-Regular.woff") format("woff"), url("../fonts/GreatVibes-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-Bold";
  font-display: swap;
  src: url("../fonts/Helvetica-Bold.woff") format("woff"), url("../fonts/Helvetica-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica-BoldOblique";
  font-display: swap;
  src: url("../fonts/Helvetica-BoldOblique.woff") format("woff"), url("../fonts/Helvetica-BoldOblique.woff2") format("woff2");
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: "Helvetica-Oblique";
  font-display: swap;
  src: url("../fonts/Helvetica-Oblique.woff") format("woff"), url("../fonts/Helvetica-Oblique.woff2") format("woff2");
  font-weight: 400;
  font-style: oblique;
}

@font-face {
  font-family: "Helvetica";
  font-display: swap;
  src: url("../fonts/Helvetica.woff") format("woff"), url("../fonts/Helvetica.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lora-Italic-VariableFont_wght";
  font-display: swap;
  src: url("../fonts/Lora-Italic-VariableFont_wght.woff") format("woff"), url("../fonts/Lora-Italic-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lora-VariableFont_wght";
  font-display: swap;
  src: url("../fonts/Lora-VariableFont_wght.woff") format("woff"), url("../fonts/Lora-VariableFont_wght.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-BoldItalic.woff") format("woff"), url("../fonts/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-BlackItalic.woff") format("woff"), url("../fonts/Roboto-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-LightItalic.woff") format("woff"), url("../fonts/Roboto-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-MediumItalic.woff") format("woff"), url("../fonts/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-ThinItalic.woff") format("woff"), url("../fonts/Roboto-ThinItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.logo__link {
  color: #333333;
  font-family: "Roboto";
  font-size: 70px;
  font-weight: 300;
  line-height: 84px;
  margin-bottom: 30px;
}

.logo__link span {
  font-family: "Roboto";
  font-weight: 700;
}

.header__carousel-wrapper {
  position: relative;
}

.header__carousel-wrapper .slider-counter {
  position: absolute;
  bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 1860px;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  background-color: transparent;
  color: #78b000;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;
  padding: 0 120px;
}

.header__carousel-wrapper .owl-theme .owl-nav {
  position: absolute;
  display: block;
  bottom: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 30px;
  max-width: 1860px;
  width: 100%;
}

.header__carousel-wrapper .owl-carousel .owl-nav button.owl-prev,
.header__carousel-wrapper .owl-carousel .owl-nav button.owl-next {
  margin: 0;
  color: #9f9f9f;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  width: 35px;
  height: 24px;
  background-color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__carousel-wrapper .owl-carousel .owl-nav button.owl-prev:hover,
.header__carousel-wrapper .owl-carousel .owl-nav button.owl-prev:focus,
.header__carousel-wrapper .owl-carousel .owl-nav button.owl-next:hover,
.header__carousel-wrapper .owl-carousel .owl-nav button.owl-next:focus {
  color: #202020;
  background-color: #e6e6e6;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header__carousel-wrapper .owl-carousel .owl-nav button.owl-next {
  border-radius: 0px 30px 30px 0px;
  border-left: 0.5px solid #ebeae6;
}

.header__carousel-wrapper .owl-carousel .owl-nav button.owl-prev {
  border-radius: 30px 0 0 30px;
  border-right: 0.5px solid #ebeae6;
}

.header-carousel__item {
  display: block;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.header-carousel__item img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.header-carousel__text {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
}

.header-carousel__title {
  color: #333333;
  font-family: "Roboto";
  font-size: 70px;
  font-weight: 300;
  line-height: 84px;
  margin-bottom: 30px;
}

.header-carousel__title span {
  font-family: "Roboto";
  font-weight: 700;
}

.header-carousel__subtitle {
  color: #333333;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 80px;
}

.header-carousel__wrapper-button {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 30px;
  background-image: -o-linear-gradient(92deg, #4fc3d8 0%, #b3d597 100%), -o-linear-gradient(266.05deg, #b3d597 0%, #4fc3d8 100%);
  background-image: linear-gradient(-2deg, #4fc3d8 0%, #b3d597 100%), linear-gradient(-176.05deg, #b3d597 0%, #4fc3d8 100%);
}

.header-carousel__button {
  display: inline-block;
  color: #444444;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  padding: 15px 40px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.header-carousel__button:hover,
.header-carousel__button:focus {
  background-color: transparent;
  color: #ffffff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.slider-copy {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  z-index: 2;
  max-width: 1860px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
  pointer-events: none;
  color: #888888;
  font-family: "Roboto";
  font-size: 15px;
  line-height: 18px;
  font-weight: 900;
}

.slider-copy span {
  color: #79b100;
  font-style: italic;
}

.header__nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 30px 0;
  margin: auto;
  z-index: 2;
  max-width: 1860px;
  width: 100%;
}

.logo {
  position: relative;
}

.logo__link {
  font-size: 30px;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.logo__link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 30px;
  top: -60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(../img/header-nav/leaf_icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo__link:hover,
.logo__link:focus {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-shadow: 0 0 20px #81ba00;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 60px;
}

.nav-bar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar__item {
  margin-right: 30px;
}

.nav-bar__item a {
  display: inline-block;
  color: #333333;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar__item a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 6px;
  background-color: rgba(128, 188, 0, 0);
  bottom: -8px;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar__item a:hover,
.nav-bar__item a:focus {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-shadow: 0 0 5px #81ba00;
}

.nav-bar__item a:hover::after,
.nav-bar__item a:focus::after {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  visibility: visible;
  background-color: #81ba00;
  width: 100%;
}

.nav-bar__item:last-child {
  margin-right: 0;
}

.nav-bar__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 85px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar__cart .nav-bar__cart-svg {
  fill: #333333;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar__cart:hover .nav-bar__cart-svg,
.nav-bar__cart:focus .nav-bar__cart-svg {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  fill: #81ba00;
}

.nav-bar__cart:hover .nav-bar__cart-sum,
.nav-bar__cart:focus .nav-bar__cart-sum {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #81ba00;
}

.nav-bar__cart-img {
  margin-right: 15px;
}

.nav-bar__cart-sum {
  color: #333333;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar__icon-menu {
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar__icon-menu svg {
  fill: #333333;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-bar__icon-menu:hover svg,
.nav-bar__icon-menu:focus svg {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  fill: #81ba00;
}

.header {
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  max-width: 100%;
  width: 100%;
  height: 50px;
  background-image: url(../img/header/figured-bottom.svg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-social {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  z-index: 1;
  max-width: 1860px;
  width: 100%;
  margin: auto;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  pointer-events: none;
}

.nav-social .nav-social__icon {
  width: 22px;
  height: 22px;
  border: 1px solid #bbbbbb;
  background-color: #faf8f5;
  border-radius: 50%;
  margin-bottom: 15px;
  color: #bbbbbb;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: visible;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.nav-social .nav-social__icon:hover,
.nav-social .nav-social__icon:focus {
  color: #ffffff;
  background-color: #81ba00;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}

.nav-social .nav-social__aside-line {
  width: 100%;
  height: 70px;
  border-left: 1px solid #888888;
  border-right: 1px solid #888888;
  margin: 0 11px;
}

.webp .logo__link::before { background-image: url(../img/header-nav/leaf_icon.webp); }